<configuration debug="false">

    <jmxConfigurator />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} %-5level [%thread] %logger{24} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="com.chariotsolutions.example" level="debug"/>
    
    <logger name="org.apache" level="warn"/>
    <logger name="software.amazon.awssdk" level="warn"/>
    <logger name="httpclient.wire.header" level="off"/>
    <logger name="httpclient.wire.content=" level="off"/>

</configuration>
